<header>
    <nav>
        <ul>
            <li><img src="" alt=""></li>
            <li><h2>WallArts</h2></li>
        </ul>
        <ul>
            <li><a href="">Me contacter</a></li>
        </ul>
    </nav>
</header>